body {
    background-color: #dfdfdf;
    font-family: Arial, sans-serif;
    color: #222222;
}

.header {
    padding: 40px;
    text-align: center;
    background: #1084d0;
    color: white;
    font-size: 30px;
}

.header button {
    float: right;
    padding: 15px 30px;
    font-size: 20px;
    text-align: center;
    background-color: #dfdfdf;
    color: #222222;
    border: 2px solid #888888;
    cursor: pointer;
    box-shadow: 2px 2px 5px #808080;
}

.header button:active {
    box-shadow: inset 2px 2px 5px #888888;
    transform: translateY(2px);
}
  
.container {
    display: flex;
    flex-direction: column;
    margin: 7%;
}

.bonzy-container, .zeus-container, .iloveyou-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.bonzy-image, .zeus-image, .iloveyou-image {
    flex: 0 0 auto;
    max-width: 30%;
    margin-left: 50px;
    height: auto;
}

.bonzy-container {
    align-items: flex-start;
}

.zeus-container {
    align-items: flex-end;
}

.iloveyou-container {
    align-items: flex-start;
}

.bonzy-text {
    flex: 1;
    margin-right: 50px;
    background-color: #f0f0f0; /* Color de fondo */
    border: 5px solid #ccc; /* Borde */
    padding: 20px; /* Espacio interno */
    border-radius: 2px; /* Bordes redondeados */
    max-width: 500px; /* Anchura máxima */
    min-width: 200px; /* Anchura mínima */
    font-size: 20px;
    line-height: 1.5;
}

.zeus-text {
    flex: 1;
    align-self: flex-end;
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    padding: 20px;
    border-radius: 2px;
    max-width: 500px;
    min-width: 200px;
    font-size: 20px;
    line-height: 1.5;
}

.iloveyou-text {
    flex: 1;
    align-self: flex-end;
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    padding: 20px;
    border-radius: 2px;
    max-width: 500px;
    min-width: 200px;
    font-size: 20px;
    line-height: 1.5;
}

.code {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
}

.code button {
    padding: 15px 30px;
    font-size: 20px;
    text-align: center;
    background-color: #dfdfdf;
    color: #222222;
    border: 2px solid #888888;
    cursor: pointer;
    box-shadow: 2px 2px 5px #808080;
}

.code button:active {
    box-shadow: inset 2px 2px 5px #888888;
    transform: translateY(2px);
}

.code input {
    font-size: 20px;
    text-align: center;
}